* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(rgba(196, 178, 22, 0.75), rgba(58, 55, 13, 0.75)),
    url(images/logo.png);
    color: white;
}
.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    background: rgba(153, 144, 23, 0.75);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0,0,0,0,3,);
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px; /* Jarak antara logo dan teks */
}

.nav-logo img {
    height: 40px;
    width: 40px;
    border-radius: 8px; /* biar tidak petak kaku */
    object-fit: cover;
    border: 2px solid rgb(255, 210, 12); /* biar terlihat elegan */
}
.nav-logo span {
    font-size: 0.85rem;
    font-weight: 600;
}
.nav-link {
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-link a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3 ease;
}
.nav-link a.active {
    border-bottom: 2px solid #3c3a04c0;
}
.nav-link a:hover {
    background: #5b4a06;      
    color: #fff;
    border-color: #666;
    box-shadow: 0 0 10px #252103;
    transform: scale(1.05);
}
.hero {
    height: 10px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    color: white;
    text-align: center;
    padding: 70px 100px;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.hero p {
    opacity: .8;
}

/* ABOUT WRAPPER */
.about-wrapper {
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    color: white;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 40px 20px;
    flex-wrap: wrap;
}

/* PROFILE */
.profile-card {
    background: rgba(222, 202, 24, 0.296);
    padding: 30px;
    border-radius: 20px;
    width: 320px;
    text-align: center;
    backdrop-filter: blur(6px);
}

.profile-card img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid  rgba(222, 202, 24, 0.296);
    margin-bottom: 15px;
}

.profile-card .role {
    font-size: 14px;
    opacity: .7;
    margin-bottom: 10px;
}

.profile-card .bio {
    font-size: 15px;
    opacity: .9;
    line-height: 1.5;
}

.info-card {
    background:  rgba(222, 202, 24, 0.296);
    padding: 30px;
    border-radius: 20px;
    width: 440px;
    backdrop-filter: blur(6px);
}

.info-card h3 {
    margin-bottom: 10px;
}

.info-card ul {
    list-style: none;
    margin-bottom: 20px;
}

.info-card ul li {
    margin-bottom: 8px;
    opacity: .9;
}

/* SKILL BARS */
.skill {
    margin-bottom: 15px;
}

.skill span {
    font-size: 14px;
}

.skill .bar {
    width: 100%;
    height: 8px;
    background:  rgba(222, 202, 24, 0.296);
    border-radius: 10px;
    margin-top: 5px;
}

.skill .bar div {
    height: 100%;
    background: #4ea8ff;
    border-radius: 10px;
}

/* MOBILE RESPONSIVE */
@media (max-width: 768px) {
    .profile-card, .info-card {
        width: 100%;
    }
}