* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: rgb(255, 255, 255);
    justify-content: center;
}
.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    background: rgba(153, 144, 23, 0.75);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0,0,0,0,3,);
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px; /* Jarak antara logo dan teks */
}

.nav-logo img {
    height: 40px;
    width: 40px;
    border-radius: 8px; /* biar tidak petak kaku */
    object-fit: cover;
    border: 2px solid rgb(255, 210, 12); /* biar terlihat elegan */
}
.nav-logo span {
    font-size: 0.85rem;
    font-weight: 600;
}
.nav-link {
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-link a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3 ease;
}
.nav-link a.active {
    border-bottom: 2px solid #3c3a04c0;
}
.nav-link a:hover {
    background: #5b4a06;      
    color: #fff;
    border-color: #666;
    box-shadow: 0 0 10px #252103;
    transform: scale(1.05);
}
.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* video di belakang tulisan */
}
.sound-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background: rgba(30, 136, 255, 0.9);
    color: white;
    font-size: 26px;     /* Besar icon */
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 50%;  /* Tombol bulat */
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    cursor: pointer;
    z-index: 9999;
    transition: 0.3s;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}

.sound-btn:hover {
    transform: scale(1.1);
    background: rgb(0, 0, 0);
}
.content {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    color: rgb(237, 230, 101);
    background: linear-gradient(rgba(86, 94, 19, 0.75), rgba(86, 94, 19, 0.75));
}

.content h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}

.content p {
    font-size: 18px;
    max-width: 700px;
    margin-bottom: 25px;
    line-height: 1.6;
}

.content a {
    display: inline-block;
    padding: 12px 28px;
    background-color: #d0d034;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s ease;
}

.content a:hover {
    background-color: #b9c211;
}

/* FOOTER */
.footer {
    width: 100%;
    background: rgb(170, 162, 54);
    text-align: center;
    padding: 35px 20px;
    margin-top: 0;
    border-top: 2px solid rgba(195, 197, 174, 0.75);
}

.footer h3 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f8f8f8;
}

.support-logos {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.logo-box {
    width: 70px;
    height: 70px;
    background: rgba(82, 80, 71, 0.91);
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    backdrop-filter: blur(4px);
    border: 1px solid rgb(255, 255, 255);
}

.logo-box img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: contain;
}

.footer-text {
    opacity: 0.7;
    font-size: 14px;
    margin-top: 10px;
    color: #ffffffc7;
}
.sound-btn {
    background: #cec215;      
    color: #ccc;                  
    border: 2px solid #444;       
    padding: 12px 24px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s ease;
}

.sound-btn:hover {
    background: #4a4404;      
    color: #fff;
    border-color: #666;
    box-shadow: 0 0 10px #1e88ff;
    transform: scale(1.05);
}

.sound-btn:active {
    transform: scale(0.5);
}